.container{
  background-color: rgb(122, 128, 137);
  display:flex;
  width: 1280px;
  height: 786px;
  margin:auto;
  flex-direction: column;
}
.banniere{
  width: 1280px;
  height: 426px;
  object-fit: contain;
}
.subContainer{
  display: flex;
  width: 1280px;
  height: 500px;
}
.containerOpt{
  display:flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: #e7e6e6;
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.23);
  width: 396px;
  height: auto;
  text-align: center;
  padding: 0 143px;
  border-radius: 14px;
}

.containerOpt > * {
  width: 100%;
}

.form-title{
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.54);
}

.button-bg{
   width: 93px;
   height: 36px;
   border-radius: 2px;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
   background-color: #4a4a4a;
   color:white;
 }


.button-bg2 {
  width: 93px;
  height: 36px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  background-color: #17998c;
  color: white;
  margin: 28px 0 50px 17px;
  font-size: 14px;
  font-weight: 500;
}
