
<mat-nav-list class="navbar navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand">{{title}}</a>
  </div>
</mat-nav-list>

<div class="container">
  <div class="banniere">
    <img src="../../assets/images/28045370998-7-fd-65-a-69-b-3-k.jpg">
  </div>
  <div class="subContainer">

    <div class="containerOpt">
      <p class="form-title">Se connecter</p>

      <mat-form-field appearance="standard" floatLabel="=auto">
        <input matInput placeholder="Identifiant">
      </mat-form-field>

      <mat-form-field appearance="standard">
        <input matInput  placeholder="Mot de passe" [type]="isHidden ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword()">{{isHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <form class="">
      <button (click)="cancel()" mat-button class="button-bg">Annuler</button>
      <button (click)="goToHomePage()" mat-button class="button-bg2">Valider</button>
      </form>

    </div>
  </div>
</div>
