.container{
  background-color: rgb(122, 128, 137);
  display:flex;
  width: 1280px;
  height: 1000px;
  margin:auto;
  flex-direction: column;
}

.subContainer{
  display: flex;
  width: 1280px;
}

.containerOpt{
  display:flex;
  flex-direction: column;
  margin: 50px auto 100px auto;
  background-color: #e7e6e6;
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.23);
  width: 396px;
  height: auto;
  text-align: center;
  padding: 0 143px;
  border-radius: 14px;
}

.containerOpt > * {
  width: 100%;
}

.form-title{
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.54);
}

.form_button--cancel{
  background-color: #4a4a4a;
}

.form_button--validate{
  background-color: #17998c;
  margin: 28px 0px 50px 17px;
  font-size: 14px;
  font-weight: 500;
}
