<mat-nav-list class="navbar navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand">{{title}}</a>
    <button  (click)="cancel()" mat-icon-button class="backIcon" >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</mat-nav-list>

<div class="container">
  <div class="banniere">
    <img src="../../assets/images/28045370998-7-fd-65-a-69-b-3-k.jpg">
  </div>
  <div class="subContainer">

    <div class="containerOpt">
      <p class="form-title">Se connecter</p>

      <span class="text-danger">{{errorMessage}}</span>
      <form class="" [formGroup]="loginForm" (ngSubmit)="userLogin()" >
        <mat-form-field appearance="standard" floatLabel="=auto">
          <input matInput placeholder="Identifiant *" formControlName="username">
          <mat-error *ngIf="loginForm.get('username').hasError('required')">L'identifiant est obligatoire</mat-error>
        </mat-form-field>


          <mat-form-field appearance="standard" hintLabel="Min 8 caractères">
            <input matInput placeholder="Mot de passe *" [type]="isHidden ? 'password' : 'text'" formControlName="password">
            <mat-error *ngIf="password.dirty">{{getErrorMessage()}}</mat-error>
            <mat-error *ngIf="loginForm.get('password').hasError('minlength')">Le password doit contenir au moins 8 caractères</mat-error>
            <!--<mat-error *ngIf=" loginForm.get('password').hasError('pattern')">Le mot de passe doit contenir une Majuscule, une minuscule et un nombre</mat-error> -->
            <mat-icon matSuffix (click)="hidePassword()">{{isHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>


        <p>
          <button (click)="cancel()" mat-button class="form_button form_button--cancel">Annuler</button>
          <button (ngSubmit)="userLogin()" mat-button class="form_button form_button--validate">Valider</button>
        </p>

      </form>
    </div>
  </div>
</div>
