.navbar-fixed-top {
  width: 1280px;
  height: 64px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #4a4a4a;
  margin: auto;
}

.navbar-header {
  width: 1280px;
  height: 64px;
  display: flex;
  position: relative;
}

.navbar-brand {
  color: #ffffff;
  display: flex;
  position: absolute;
  padding: 13px 495px 19px 495px;
  width: 290px;
  height: 32px;
  font-size: 36px;
  line-height: 0.89;
}

.log {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0 5px 0 1052px;
  color: #ffffff;
  background-color: #4a4a4a;
  border: #4a4a4a;
}

.sign {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 32px;
  color: #ffffff;
  background-color: #4a4a4a;
  border: #4a4a4a;
}

.pipe {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}

.upload__container__background {
  background-image: url('../assets/upload-icon.png');
  height: 100%;
  width: 100%;
}

.upload__container {
  height: 200px;
  width: 200px;
}

.upload__preview {
  height: 200px;
  width: 200px;
}
