.navbar-brand{
  padding: 13px 495px 19px 495px;
}
.header_button--register {
  margin: 0 5px 0 1052px;
}

.header_button--login {
  margin-right: 32px;

}

.pipe {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}

.description {
  font-size: 22px;
  margin: 0 200px 0 201px;
}
.container{
  color: #ffffff;
}
.subDescription {
  margin-left: 201px;
}

.subContainer {
  display: flex;
  height: 263px;
  width: 1280px;
  color: #ffffff;
}

.containerOpt {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-right: -121px;
  margin-left: 201px;
  background-color: #b8b6b6;
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
  width: 239px;
  height: 263px;
  text-align: center;
}

.imageSub {
  padding-top: 12px;
  border-radius: 50%;
  width: 163px;
  height: 163px;
}

.title {
  font-size: 24px;
  width: 150px;
  height: 32px;
  margin: 0;
}

.subtitle {
  font-size: 16px;
  width: 209px;
  height: 44px;
  margin: 0;
}

.menuIcon{
  margin-top: 10px;
  margin-left: 24px;
}
.settingsIcon{
  margin-top: 10px;
  margin-left: 1170px;
}

