.navbar-fixed-top{
  width: 1280px;
  height: 64px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #4a4a4a;
}
.navbar-header{
  width: 1280px;
  height: 64px;
  display: flex;
  position: absolute;
  font-family: Roboto;
}
.navbar-brand{
  color: #ffffff;
  display: flex;
  position: absolute;
  padding:13px 495px 19px 495px;
  width: 290px;
  height: 32px;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: normal;

}
.log{
  display: flex;
  align-items: center;
  margin: 0px  5px 0px 1052px;
  color: #ffffff;
  background-color: #4a4a4a;
}
.sign{
  display: flex;
  align-items: center;
  margin-right: 32px;
  color: #ffffff;
  background-color: #4a4a4a;
}
.pipe{
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}

.container{
  background-color: rgb(122, 128, 137);
  color: #ffffff;
  display: flex;
  width: 1280px;
  height: 786px;
  flex-direction: column;
}
.banniere{
  width: 1280px;
  height: 426px;
  object-fit: contain;
}
.description{
  font-size: 22px;
  margin: 0px  200px 0px 201px;
}
.subDescription{
  margin-left: 201px;
}
.subContainer{
  display: flex;
  height: 263px;
  width: 1280px;
  color: #ffffff;
}
.containerOpt{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-right: -121px;
  margin-left: 201px;
  background-color: #b8b6b6;
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
  width: 239px;
  height: 263px;
  text-align: center;
}

.imageSub{
  padding-top: 12px ;
  border-radius: 50%;
  width: 163px;
  height: 166px;
}
.title{
  font-size: 24px;
  width: 150px;
  height: 32px;
  margin: 0px;
}
.subtitle{
  font-size: 16px;
  width: 209px;
  height: 44px;
  margin: 0px;
}

