/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.navbar-fixed-top {
  width: 1280px;
  height: 64px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #4a4a4a;
  margin: auto;
}

.navbar-header {
  width: 1280px;
  height: 64px;
  display: flex;
  position: relative;
}

.navbar-brand {
  display: flex;
  position: absolute;
  width: 520px;
  height: 32px;
  font-size: 36px;
  line-height: 0.89;
}

.mat-nav-list{
  color: #ffffff;
}

.mat-form-field{
  width: 100%;
}

.container {
  background-color: rgb(122, 128, 137);
  display: flex;
  width: 1280px;
  height: 786px;
  flex-direction: row;
  margin: auto;
}

.header_button{
  display: flex;
  position: relative;
  align-items: center;
  color: #ffffff;
  background-color: #4a4a4a;
  border: #4a4a4a;
}

.main_button{
  width: 93px;
  height: 36px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  color:white;
  padding-bottom: 30px;
}




