/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.navbar-fixed-top {
  width: 1280px;
  height: 64px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #4a4a4a;
  margin: auto;
}

.navbar-header {
  width: 1280px;
  height: 64px;
  display: flex;
  position: relative;
}

.navbar-brand {
  color: #ffffff;
  display: flex;
  position: absolute;
  padding: 13px 495px 19px 495px;
  width: 290px;
  height: 32px;
  font-size: 36px;
  line-height: 0.89;
}

.log {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0 5px 0 1052px;
  color: #ffffff;
  background-color: #4a4a4a;
  border: #4a4a4a;
}

.sign {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 32px;
  color: #ffffff;
  background-color: #4a4a4a;
  border: #4a4a4a;
}

.pipe {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}
.mat-nav-list{
  color: #ffffff;
}

.form_button{
  width: 93px;
  height: 36px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  color:white;
  padding-bottom: 30px;
}

