<mat-nav-list class="navbar navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand">{{title}}</a>

    <!--menu-->

    <button class="menuIcon" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="redirectToWelcome()">
        <mat-icon>move_to_inbox</mat-icon>
        <span>Accueil</span>
      </button>
      <button mat-menu-item (click)="goToEvents()">
        <mat-icon>send</mat-icon>
        <span>Evènement</span>
      </button>
    </mat-menu>

    <!-- menu setting-->

    <button class="settingsIcon" mat-icon-button [matMenuTriggerFor]="settings">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #settings="matMenu" xPosition="before">
      <button mat-menu-item (click)="goToArtiste()" *ngIf="userService.token === 'artiste'">
        <mat-icon>music_note</mat-icon>
        <span>Artiste</span>
      </button>
      <button mat-menu-item (click)="goToProfil()">
        <mat-icon>settings</mat-icon>
        <span>Profil</span>
      </button>
      <button mat-menu-item (click)="Logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Déconnection</span>
      </button>
    </mat-menu>
  </div>
</mat-nav-list>

<div class="container">
  <div class="subContainer">
    <div class="containerOpt">
      <img class="artist_imageSub" src="../../assets/images/Queen.jpg">
      <div class="artist_outlay">
        <p class="artist_title">Queen</p>
        <p class="artist_subtitle">God save the queen</p>
        <div>
          <app-star-rating [rating]="3"  [starCount]="starCount" [voteCount]="50000"></app-star-rating>
        </div>
        <div class="overlay_icones">
          <mat-icon class="icon" matSuffix >remove_red_eye</mat-icon>
          <p class="overlay_icones_text">VOIR</p>
          <mat-icon class="icon" matSuffix>calendar_today</mat-icon>
          <p class="overlay_icones_text">BOOKER </p>
        </div>

      </div>
    </div>
    <div class="containerOpt">
      <img class="artist_imageSub" src="../../assets/images/Angra.jpg">
      <div class="artist_outlay">
        <div>
          <p class="artist_title">Angra</p>
          <p class="artist_subtitle">Vivez une expérience unique</p>
        </div>
        <div>
          <app-star-rating [rating]="5"  [starCount]="starCount" [voteCount]="100000"></app-star-rating>
        </div>
        <div class="overlay_icones">
          <mat-icon class="icon" matSuffix >remove_red_eye</mat-icon>
          <p class="overlay_icones_text">VOIR</p>
          <mat-icon class="icon" matSuffix>calendar_today</mat-icon>
          <p class="overlay_icones_text">BOOKER </p>
        </div>
      </div>
    </div>
    <div class="containerOpt">
      <img class="artist_imageSub" src="../../assets/images/Hammerfall.jpg">
      <div class="artist_outlay">
        <p class="artist_title">Hammerfall</p>
        <p class="artist_subtitle">Partager vos coups de coeurs</p>
        <div>
          <app-star-rating [rating]="4"  [starCount]="starCount" [voteCount]="2000"></app-star-rating>
        </div>
        <div class="overlay_icones">
          <mat-icon class="icon" matSuffix >remove_red_eye</mat-icon>
          <p class="overlay_icones_text">VOIR</p>
          <mat-icon class="icon" matSuffix>calendar_today</mat-icon>
          <p class="overlay_icones_text">BOOKER </p>
        </div>
      </div>

    </div>
    <div class="containerOpt">
      <img class="artist_imageSub" src="../../assets/images/Iron_Maiden.jpg">
      <div class="artist_outlay">
        <p class="artist_title">Iron Maiden</p>
        <p class="artist_subtitle">Partager vos coups de coeurs</p>
        <div>
          <app-star-rating [rating]="1"  [starCount]="starCount" [voteCount]="50"></app-star-rating>
        </div>
        <div class="overlay_icones">
          <mat-icon class="icon" matSuffix >remove_red_eye</mat-icon>
          <p class="overlay_icones_text">VOIR</p>
          <mat-icon class="icon" matSuffix>calendar_today</mat-icon>
          <p class="overlay_icones_text">BOOKER </p>
        </div>
      </div>
    </div>
  </div>
</div>


