<mat-nav-list class="navbar navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand">{{title}}</a>
    <button (click)="cancel()" mat-icon-button class="backIcon">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</mat-nav-list>

<div class="container">
  <div class="banniere">
    <img src="../../assets/images/28045370998-7-fd-65-a-69-b-3-k.jpg">
  </div>
  <div class="subContainer">

    <div class="containerOpt">
      <p class="form-title">Formulaire d'inscription</p>

      <mat-form-field appearance="standard" floatLabel="=auto">
        <input matInput placeholder="Identifiant">
      </mat-form-field>

      <mat-form-field appearance="standard">
        <input matInput placeholder="Mot de passe" [type]="isHidden ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword()">{{isHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <input matInput placeholder="Confirmez le mot de passe" [type]="isHidden ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword()">{{isHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <input matInput placeholder="Email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Ville" aria-label="Number" matInput [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <mat-checkbox labelPosition="after" appearance="standard" [(ngModel)]="checked">
        <span class="mat-checkbox-artiste-text"> Êtes-vous un artiste proposant des prestations privées ?</span>
      </mat-checkbox>
      <div class="form-hidden" *ngIf="checked">
        <mat-form-field appearance="standard" floatLabel="auto">
          <input matInput placeholder="Nom d'artiste">
        </mat-form-field>


        <mat-form-field>
          <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
      </div>

      <p>
        <button (click)="cancel()" mat-button class="form_button form_button--cancel">Annuler</button>
        <button (click)="goToLogPage()" mat-button class="form_button form_button--validate">Valider</button>
      </p>




    </div>
  </div>
</div>
