.navbar-brand{
  padding: 13px 495px 19px 495px;
}
.container{
  background-color: rgb(122, 128, 137);
  display:flex;
  width: 1280px;
  height: auto;
  margin:auto;
  flex-direction: column;
}
.subContainer{
  display: flex;
  width: 1280px;
}

.containerOpt{
  display:flex;
  flex-direction: column;
  margin: 50px auto 100px auto;
  background-color: #e7e6e6;
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.23);
  width: 396px;
  height: auto;
  text-align: center;
  padding: 0px 143px;
  border-radius: 14px;
}

.containerOpt > * {
  width: 100%;
}

.form-hidden{
  display: flex;
  flex-direction: column;
}

.form-title{
  display:flex;
  justify-content: center;
  width: 100%;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.54);

}

.form_button--cancel{
  background-color: #4a4a4a;
}

.backIcon{
  margin-top: 8px;
}

.form_button--validate{
  background-color: #17998c;
  margin: 28px 0px 50px 17px;
  font-size: 14px;
  font-weight: 500;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: darkcyan;
  width: 18px;
  height: 18px;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #80cbc4 !important;
  width: 18px;
  height: 18px;
}

.mat-checkbox-artiste-text {
  display: inline-flex;
  align-items: center;
  padding: 4px 0px 0px 10px;
  font-family: Roboto;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.38);
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
